<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加订单</title>
    <link rel="stylesheet" href="../../assets/layui/css/layui.css">
</head>
<body>
<div class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">图书管理系统</div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layui-nav-itemed"><a href="#">首页</a></li>
                <li class="layui-nav-item"><a href="../user/list.html">用户管理</a></li>
                <li class="layui-nav-item"><a href="../product/list.html">商品管理</a></li>
                <li class="layui-nav-item"><a href="../carousel/list.html">轮播管理</a></li>
                <li class="layui-nav-item"><a href="../category/list.html">分类管理</a></li>
                <li class="layui-nav-item"><a href="../order/list.html">订单管理</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="#">
                        <img src="../../assets/images/face.jpeg" alt="avatar" class="layui-nav-img">
                        yostar
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="#">基本资料</a></dd>
                        <dd><a href="#">修改密码</a></dd>
                        <dd><a href="#">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="#">产品列表</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="#">新增产品</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <div class="">新增产品</div>
        </div>
        <div class="layui-footer">
            2019&copy;版权信息
        </div>
    </div>
</div>

<script src="../../assets/layui/layui.js"></script>
<script>
    layui.use('element', function () {
        let element = layui.element;
        element.init();
    })
</script>
</body>
</html>